// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#title {
	font-size: large;
	color: red;
	font-family: "Lucida Console", Courier, monospace;
	text-align: center;
}